$color-yellow-light: #fcf0e366;
$color-white-light: #f2f2f2;
$color-white: #fff;
$color-light-grey: #e3e3e3;
$color-blue: #0185d0;
$color-light-blue: #00a1c612;
$color-dark: #2b292d;
$color-dark-op15: #2b292d26;
$color-dark-op20: #2b292d33;
$color-dark-op10: #2b292d1a;
$color-grey: #d5d4d5;
$color-dark-blue: #3141c5;
$color-pure-blue: #3040c4;
$color-light: #f4f5f7;
$color-light-black: #0000001a;
$color-black-op15: #00000026;
$color-light-orange: #f3c6bd;

$text-color-green: #009b4d;
$text-color-light-grey: #2b292d99;
$text-color-orange: #f1592b;
$text-color-blue: #3142c6;
$text-color-light-blue: #0189d1;
$text-color-black: #000;
$text-color-white: #fff;
$text-color-dark: $color-dark;

$border-color: #2b292d33;
